{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
		<main>
			<div class="py-5 text-center mt-5">
				<h2>Test d'entretien</h2>
			</div>
		</main>
{% endblock %}
