@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: lightgray;
}

.wrapper {
  max-width: 1200px;
  padding: 0 1rem;
  margin: 1.25rem auto 0;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.25rem;
  margin-bottom: .5rem;
}

ul, li {
  list-style: none;
}

.article__row {
  display: flex;
  justify-content: space-between;
  column-gap: 2.5rem;
}

.article__post {
  width: 70%;
}

.article__post__img {
  margin-bottom: 1rem;
}

.article__post__img img {
  max-width: 100%;
}

.article__relatedPosts {
  width: 30%;
}

.article__relatedPosts img {
  max-width: 100%;
}

.aside__title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: .75rem;
}

.aside__card {
  margin-bottom: 1.25rem;
  background: white;
}

.aside__card__body {
  padding: 1rem;
}

.aside__card__body h2 a {
  color: black;
  text-decoration: none;
}

.form_wrapper {
  max-width: 800px;
  background-color: white;
  margin: auto;
  padding: 1.25rem;
  border-radius: .5rem;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.form {
  max-width: 650px;
  margin: auto;
}

.form__title {
  text-align: center;
}

.form label {
  display: block;
  margin-bottom: .25rem;
}

.form input:not(.form__inputFile), .form textarea {
  width: 100%;
  border-radius: .25rem;
  border: solid rgba(0, 0, 0, 0.3) 1px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.form input:not(.form__inputFile):focus, .form textarea:focus {
  outline: inset black 1px;
}

.form textarea {
  min-height: 100px;
  resize: vertical;
}

.form__inputFile {
  margin-bottom: 1rem;
  max-width: 100%;
}

.form__inputFile::file-selector-button {
  background-color: #1C6EA4;
  border: none;
  color: white;
  border-radius: .25rem;
  padding: .25rem .5rem;
  margin-right: .5rem;
  font-family: 'Montserrat';
}

.form__btn {
  max-width: 300px;
  display: block;
  background-color: #1C6EA4;
  color: white;
  border: none !important;
  margin: auto;
}

.form ul {
  font-size: .9rem;
  color: red;
  margin-bottom: .5rem;
}

@media screen and (max-width: 899px) {
  .wrapper {
    max-width: 750px;
  }
  .article__row {
    display: block;
  }
  .article__post, .article__relatedPosts {
    width: 100%;
  }
  .aside {
    margin-top: 2rem;
  }
}
