{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}

    <div class="container">
        <main>
            <h1>Articles</h1>
            {% if articles|length > 0 %}
                <ul class="articles-list">
                    {% for article in articles %}
                        <li class="articles-list-item">
                            <h2>{{ article.title }}</h2>
                            <span class="articles-actions">
                            <a class="btn btn-action" href="{{ path('show_article', {slug: article.slug}) }}">
                                Consulter
                            </a>
                            <a class="btn btn-action" href="{{ path('edit_article', {slug: article.slug}) }}">
                                Modifier
                            </a>
                            <a class="btn btn-delete" href="{{ path('delete_article', {slug: article.slug}) }}">
                                Supprimer
                            </a>
                        </span>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Il n'y a pas d'articles en ligne.</p>
            {% endif %}
        </main>
    </div>


{% endblock %}
